body{
    background-color: white;
}

.topnav {
    position:sticky;
    top: 0px;
    background-color: gray;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps;
    font-size: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left:0px;
    padding-right: 0px;
    width: 100%;

}

.topnav a{
    position: relative;
    width: 16.3%; /*--Why does this happen? Why isn't it 16.666666%? */
    font-size: 100%;
    text-align: center;
    float:left;
    text-decoration: none;
    background-color:gray;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-left: 5px;
    padding-right: 5px;*/
    border-width:  2px;
    border-style:hidden solid hidden hidden;
    border-radius: 5px;

}

.topnav a:hover{
    background-color: #0c981dbe;
    color: black;
}

.topnav a.active{
    background-color:#0ec223be;
    color: black;

}
.gameBoard{
    position: relative;
    width:50vw;
    height: 50vw; 
    display: flex; 
    margin-left:auto; 
    margin-right:auto; 
    background-color:green;
}
.cornerSquare{
    position: relative;
    width: 10%;
    height: 10%;
    border-color: blue;
    display: inline-block;
    background-color: white;
    color:white;
    border-width: 1px;
    margin:auto;
}

.vertEdgeSquare{
    position: relative;
    width: 5%;
    height: 10%;
    /*display: inline-block;*/
    border-color: blue;
    background-color: white;
    border-width:1px;
    margin: auto;
}

.horEdgeSquare{
    width: 10%;
    height: 5%;
}
.centerBoard{
    width: 40%;
    height:40%;
}